<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azhapps.listapp.lists">

    <application>
        <activity android:name=".view.ViewListActivity" />
        <activity android:name=".modify.ModifyListActivity" />
        <activity android:name=".modify.ModifyItemActivity" />
    </application>
</manifest>